.bin {
  .link, .bin-link{
    position: relative;
    &.close {
      position: absolute;
      right: 0px;
      top: 0px;
      display: none;
    }
    &:hover{
       > .close{
         display: block;
      }
    }
  }
  .url-title{
    clear: both;
    display: block;
    position: relative;
    .icon{
      width: 60px;
      float: left;
      margin: 10px;
    }
    h3{
      float: left;
    }
  }
}