
.waves-landing(){
  from {
    background-position: 0px 280px;
  }
  to {
    background-position: 169px 280px;
  }
}

@-webkit-keyframes waves-landing {
  .waves-landing;
}
@-moz-keyframes waves-landing {
  .waves-landing;
}
@-o-keyframes waves-landing {
  .waves-landing;
}
@keyframes waves-landing {
  .waves-landing;
}


.waves-footer(){
  from {
    background-position: 0px top;
  }
  to {
    background-position: 169px top;
  }
}

@-webkit-keyframes waves-footer {
  .waves-footer;
}
@-moz-keyframes waves-footer {
  .waves-footer;
}
@-o-keyframes waves-footer {
  .waves-footer;
}
@keyframes waves-footer {
  .waves-footer;
}


@-webkit-keyframes planets {
  .planets;
}
@-moz-keyframes planets {
  .planets;
}
@-o-keyframes planets {
  .planets;
}
@keyframes planets {
  .planets;
}

.planets(){
  25%   {
    -webkit-transform: translateY(-300px);
  }
  50%  {
    -webkit-transform: translateY(0px);
  }
  75%  {
    -webkit-transform: translateY(-300px);
  }
}