@-webkit-keyframes waves-landing{
  from {
    background-position: 0px 280px;
  }
  to {
    background-position: 169px 280px;
  }
}

@-webkit-keyframes waves-footer{
  from {
    background-position: 0px top;
  }
  to {
    background-position: 169px top;
  }
}

@-webkit-keyframes planets{
  25%   {
    -webkit-transform: translateY(-300px);
  }
  50%  {
    -webkit-transform: translateY(0px);
  }
  75%  {
    -webkit-transform: translateY(-300px);
  }
}