@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "bin";
@import "nav";
@import "footer";

/**
 * User Styles
 */

body {
  font-size: 14px;
  background: url("/_/images/noisy_grid.png");
}

/* Landing */
#landing-promo {
  margin-top: 40px;
  @media (max-width: 768px) {
    margin-top: 10px;
  }
  h1 {
    font-size: 48px;
    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 1.2;
    }
  }
}


#linkform {
  #clickbin-prepend {
    color: #555;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
  }
  input {
    padding: 9px 14px 8px 14px;
    font-size: @baseFontSize + 2px;
    line-height: normal;
    font-weight: bold;
      // .border-radius(5px, 0, 0, 5px);
  }
  .add-on{
    font-size: @baseFontSize + 2px;
    padding-top: 8px;
    padding-bottom: 9px;
  }
}

ul.items {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    &:not(:last-child) {
      border-bottom: #e4e4e4 1px solid;
    }
    &:not(:first-child) {
      border-top: #ffffff 1px solid;
    }
    padding: 5px;
    a {
      display: block;
      .minwidth {
        min-width:100px; 
        width: auto !important; 
        width: 100px;
      }
      .link {
        font-size: 120%;
        line-height: 1;
      }
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}


@media (max-width: 768px){

}

































