.row
  .span6
    h3.icon-globe  Links
    .well
      ul.bin.clearfix
        each link in bin.links
          mixin link(link)
  .span6
    h3.icon-folder-open  Bins
    .well
      ul.bin
        each bin in children
          mixin bin(bin)