bins = path.split('/').slice(1)
path = ''
if bins[0] !== ''
  each bin, i in bins
    - path = path + '/' + bin
    a(href="#{path}", class="#{ i === bins.length - 1 ? 'active' : '' }").btn.bin-link #{bin}