.input-prepend
  .btn-group.bins.breadcrumbs
    if typeof(profile) !== 'undefined' && profile.username
      a(href='/').brand 
        strong #{profile.username}
        | .clickb.in
    else
      a(href="http://#{domain}").brand clickb.in