extends layout

block breadcrumb
  bins = bin.path.split('/').slice(1)
  path = ''
  each bin, i in bins
    - path = path + '/' + bin
    li.divider-bin
      span.icon-caret-right
    li(class=(i===bins.length-1)?"active":"")
      a(href="#{path}").bin-link #{bin} 

block body
  include alerts
  if(isOwner)
    .alert.alert-warn
      i.icon-exclamation-sign   
      |  You can modify this bin as long as you access it from this computer. 
      //a(href="/_/signup") Sign up
      //|  if you would like to modify this bin later.
  include bin-items
