extends layout
include bin-items

block breadcrumb
  include bin-breadcrumbs

block body
  .container.bin
    include alerts
    if isOwner
      .alert.alert-warn
        i.icon-exclamation-sign   
        |  You can modify this bin as long as you access it from this device. 
        //a(href="/_/signup") Sign up
        //|  if you would like to modify this bin later.
    .row
      .span6
        h4.icon-globe  Links
        ul.items.clearfix
          each link in bin.links
            mixin link(link)
      .span6
        h4.icon-folder-open  Bins
        ul.items
          each bin in children
            mixin bin(bin)
