extends layout
include bin-items

block breadcrumb
  include bin-breadcrumbs

block body
  .container.alerts
    include alerts
    if isOwner
      .alert.alert-warn
        .clearfix
          //- i.icon-exclamation-sign   
          |  You can place bookmarks in this bin as long as you access it from this device. 
          .pull-right
            //- TODO:
            //- a(href="#{'http://save.clickb.in' +  bin.path}") Save this bin

  include bincontainer
 
