extends layout

block body
  include alerts
  #landing-promo
    .anchor-wrap
      .container
        .row
          .span6
            #landing-form
              .clearfix
                .pull-left
                  h2 
                    span.subtitle step 1:  
                    | paste a link   
                    i.icon-circle-arrow-down.arrow   
              form#linkform(action="/_/link/add", method="post")
                .input-append
                  div(style="width:160px").pull-right
                    button.input-block-level.btn.btn-large(type="submit")
                      strong Place in a bin 
                  div(style="margin-right:160px")
                    input#linkinput(type="text", name="uri", placeholder="ie., reddit.com")
              .clearfix
                .pull-right
                
                  h2 
                    span.subtitle step 2:  
                    | place it in a clickbin  
                    i.icon-circle-arrow-up.arrow  
          .span1
            .or or 

          .span5 
            a.btn.btn-large.btn-navy(href="#").input-block-level#bookmarklet-button 
              strong drag me to your bookmarks bar
            .clearfix
              p#bookmarklet-help 
                | Bookmark as you browse.  
                a(href="/help#bookmarklet") Show me how.
  
          
                    
         //- .span4
         //-    span.subtitle Step 3:
         //-    h2 Get Organized!

  #info
    .container 
      //- span.subtitle &nbsp;
      h2 What does clickb.in do?
      .row
        .span4
          p With clickbin you no longer have to email yourself links. Easily organize all your bookmarks by placing them in clickbins:
          .well
            #pokemon
        .span4
          p Easily bookmark pages you enjoy by placing <strong>clickb.in/</strong> in front of the address:
          .well
            #address-bar
        .span4
          p Use our bookmarklet when you're at a page you'd like to place in a bin for easy bookmarking as you surf the web!
          .well
            #address-bar

   

    //- .span6
    //-   h3 example bins
    //-   .well
    //-     a(href="http://clickb.in/5")
    //-       h4 cute animal photos
    //-     a(href="http://vicapow.clickb.in") 
    //-       h4 vicapow.clickb.in
    //-     a(href="http://lxe.clickb.in") 
    //-       h4 lxe.clickb.in