extends layout

block body
  #landing-promo
    .container.alerts
      include alerts
    .anchor-wrap
      .container
        .row
          .span8
            #landing-form
              .clearfix
                .pull-left
                  h2 
                    span.subtitle step 1:  
                    | paste a link   
                    i.icon-circle-arrow-down.arrow   
              form#linkform(action="/_/link/add", method="post")
                .input-append
                  div(style="width:160px").pull-right
                    button.btn-orangered.input-block-level.btn.btn-large(type="submit")
                      strong put in a bin 
                  div(style="margin-right:160px")
                    input#linkinput(type="text", name="uri", placeholder="ie., reddit.com")
              .clearfix
                .pull-right
                
                  h2.orangered 
                    span.subtitle step 2:  
                    | put it in a clickbin  
                    i.icon-circle-arrow-up.arrow  
          //- .span1
          //-   .or or 

          //- .span5 
          //-   a.btn.btn-large.btn-navy(href="#").input-block-level#bookmarklet-button 
          //-     strong drag me to your bookmarks bar
          //-   .clearfix
          //-     p#bookmarklet-help 
          //-       | Bookmark as you browse.  
          //-       a(href="/help#bookmarklet") Show me how.
  
          
                    
         //- .span4
         //-    span.subtitle Step 3:
         //-    h2 Get Organized!

  #info
    .container 
      //- span.subtitle &nbsp;
      h2 what does clickb.in do?
      .row
        .span4
          p use bins to collect the things you find online without ever having to login. Think of it like a desktop for the internet.
          .well
            #pokemon
        .span4
          p easily bookmark pages you enjoy by placing <strong>clickb.in/</strong> in front of the address:
          .well
            #address-bar
        .span4
          .newsletter-wrapper
            .inner
              iframe.hidden(src="about:blank", id="newsletter-target", name="newsletter-target")
              p 
                i.icon-envelope  
                span.headline more features are coming soon! 
                | sign up for our newsletter to stay tuned:
              form.form-inline#newsletter(action='https://docs.google.com/spreadsheet/formResponse?formkey=dHpHWkpHNWEwYjhRUmVlX2Z3bFZsc2c6MQ&ifq', 
                method='POST', target="newsletter-target")
                input(type="hidden", value="Submit", name="submit")
                input(type="hidden", value="0", name="pageNumber")
                input(type="hidden", value="", name="backupCache")
                .clearfix
                  .button-wrapper
                    button.btn.btn-navy(type="submit") 
                      strong Sign Up
                  .block-input-wrapper
                    input.input-block-level#newsletter-email(
                      type="text", 
                      name="entry.0.single", 
                      placeholder="email")
                

  #newsletter-thanks.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
      h3 Thanks!
    .modal-body
      p Thanks for signing up! We'll keep you informed about new features of clickb.in.
    .modal-footer
      a.btn(href="#", data-dismiss="modal") Close


   

    //- .span6
    //-   h3 example bins
    //-   .well
    //-     a(href="http://clickb.in/5")
    //-       h4 cute animal photos
    //-     a(href="http://vicapow.clickb.in") 
    //-       h4 vicapow.clickb.in
    //-     a(href="http://lxe.clickb.in") 
    //-       h4 lxe.clickb.in