extends layout

block breadcrumb
  include bin-breadcrumbs

block body
  div#fb-root
  script 
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=174190695993894";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  #landing-promo
    .container.alerts
      include alerts
    .anchor-wrap
      .container
        .row
          .span7 
            h1 bookmarking done right
          .span5(style="height:1px")
            img.pull-right.img-circle.mascot(src="/_/images/mascot.png")
        .row
          .span7
            | just put 
            .label.label-info clickb.in/
            |  in front of the url you want to bookmark. for example: 
            .label.label-info clickb.in/
            | 
            .label.label-info example.com
        br
        .row
          .span7
            | to tag a link 
            .badge.badge-info cafe 
            |  and 
            .badge.badge-info dc 
            |  just go to 
            br
            .label.label-info clickb.in/
            | 
            .label.label-info cafe/ 
            | 
            .label.label-info dc/
            | 
            .label.label-info example.com/a-cafe-in-dc
        br
        .row
          .span7
            | share your tags by passing out the tag link 
            a(href="http://vicapow.clickb.in/cafe/dc")
              .label.label-info vicapow.clickb.in/cafe/dc
        br
        .row
          .span12
            a.btn.btn-orangered(href="#{getRootURI() + '_/signup'}",
              rel="tooltip", data-placement="bottom", data-original-title="it's free") 
              b create an account

  #info
    .container
      .row
        .span8
        .span4
          include newsletter

  #newsletter-thanks.modal.hide
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
      h3 thanks!
    .modal-body
      p thanks for signing up! we'll keep you informed about new features of clickb.in
    .modal-footer
      a.btn(href="#", data-dismiss="modal") Close

block scripts
  script
    $('#linkinput').focus()


   

    //- .span6
    //-   h3 example bins
    //-   .well
    //-     a(href="http://clickb.in/5")
    //-       h4 cute animal photos
    //-     a(href="http://vicapow.clickb.in") 
    //-       h4 vicapow.clickb.in
    //-     a(href="http://lxe.clickb.in") 
    //-       h4 lxe.clickb.in