extends layout

block body
  include alerts
  #landing-promo
    .anchor-wrap
      .container
        .row
          .span8
            #landing-form
              .clearfix
                .pull-left
                  h2 
                    span.subtitle step 1:  
                    | paste a link   
                    i.icon-circle-arrow-down.arrow   
              form#linkform(action="/_/link/add", method="post")
                .input-append
                  div(style="width:160px").pull-right
                    button.input-block-level.btn.btn-large(type="submit")
                      strong Place in a bin 
                  div(style="margin-right:160px")
                    input#linkinput(type="text", name="uri", placeholder="ie., reddit.com")
              .clearfix
                .pull-right
                
                  h2 
                    span.subtitle step 2:  
                    | place it in a clickbin  
                    i.icon-circle-arrow-up.arrow  
          .span4
            p 
              a.btn.btn-large(href="#").bookmarklet Drag me to your bookmarks bar
          
                    
         //- .span4
         //-    span.subtitle Step 3:
         //-    h2 Get Organized!

  #info
    .container 
      //- span.subtitle &nbsp;
      h2 What does this do?
      .row
        .span4
          p With clickbin you no longer have to email yourself links. Easily organize all your bookmarks by placing them in clickbins:
          .well
            #pokemon
        .span4
          p Easily bookmark anything by placing <strong>clickb.in/</strong> in front of the URL:
          .well
            #address-bar
        .span4
          p Easily bookmark anything by placing <strong>clickb.in/</strong> in front of the URL:
          .well
            #address-bar

   

    //- .span6
    //-   h3 example bins
    //-   .well
    //-     a(href="http://clickb.in/5")
    //-       h4 cute animal photos
    //-     a(href="http://vicapow.clickb.in") 
    //-       h4 vicapow.clickb.in
    //-     a(href="http://lxe.clickb.in") 
    //-       h4 lxe.clickb.in