extends layout

block body
  .container.alerts
    include alerts
  .container.main
    .row
      .span4.offset4
        h1 sign in
        .well 
          form(method="POST", style="margin-bottom: 0")
            .control-group
              label.control-label(for="inputUsername") Username:
              .controls
                input.input-block-level(type="text",name="inputUsername", 
                  id="inputUsername", placeholder="")
                if(errors.inputUsername)
                  p.text-error #{errors.inputUsername.msg}
            .control-group
              label.control-label(for="inputPassword") Password:
              .controls
                input.input-block-level(type="password",name="inputPassword", 
                  id="inputPassword", placeholder="")
                if(errors.inputPassword)
                  p.text-error #{errors.inputPassword.msg}
            .control-group
              .controls
                button.btn.btn-navy(type="submit",style="margin-right:10px") Sign in
                span or
                a.btn(href="/_/signup",style="margin-left:10px") Register